Repository YAPP-Github/mafoo-backend, pull requests merged in 2024-08, with the labels that each got.

#56 [RELEASE] release: 리팩토링 후 첫 릴리즈 배포
  api-gateway/src/main/resources/application-prod.yaml
  api-gateway/src/main/resources/application.yaml
  photo-service/src/main/java/kr/mafoo/photo/config/WebFluxConfig.java
  photo-service/src/main/java/kr/mafoo/photo/controller/PhotoController.java
  photo-service/src/main/java/kr/mafoo/photo/domain/BrandType.java
  photo-service/src/main/java/kr/mafoo/photo/domain/PhotoEntity.java
  photo-service/src/main/java/kr/mafoo/photo/service/AlbumService.java
  photo-service/src/main/java/kr/mafoo/photo/service/PhotoService.java
  photo-service/src/main/java/kr/mafoo/photo/service/QrService.java
  photo-service/src/main/java/kr/mafoo/photo/service/vendors/DontLookUpQrVendor.java
  photo-service/src/main/java/kr/mafoo/photo/service/vendors/HaruFilmQrVendor.java
  photo-service/src/main/java/kr/mafoo/photo/service/vendors/LifeFourCutsQrVendor.java
  photo-service/src/main/java/kr/mafoo/photo/service/vendors/MafooQrVendor.java
  photo-service/src/main/java/kr/mafoo/photo/service/vendors/MonoMansionQrVendor.java
  photo-service/src/main/java/kr/mafoo/photo/service/vendors/MyFourCutQrVendor.java
  photo-service/src/main/java/kr/mafoo/photo/service/vendors/PhotoGrayQrVendor.java
  photo-service/src/main/java/kr/mafoo/photo/service/vendors/PhotoSignatureQrVendor.java
  photo-service/src/main/java/kr/mafoo/photo/service/vendors/PhotoismQrVendor.java
  photo-service/src/main/java/kr/mafoo/photo/service/vendors/PicDotQrVendor.java
  photo-service/src/main/java/kr/mafoo/photo/service/vendors/QrVendor.java
  photo-service/src/main/java/kr/mafoo/photo/util/WebClientUtil.java
  photo-service/src/main/resources/application-prod.yaml
  photo-service/src/main/resources/application.yaml
  user-service/src/main/java/kr/mafoo/user/controller/AuthController.java
  user-service/src/main/java/kr/mafoo/user/controller/dto/request/KakaoLoginRequest.java
  user-service/src/main/java/kr/mafoo/user/service/AuthService.java
  user-service/src/main/java/kr/mafoo/user/service/MemberService.java
  user-service/src/main/resources/application-prod.yaml
  user-service/src/main/resources/application.yaml
Labels: For: API, Tag: 포토앨범 서비스, Status: HOLD, Tag: 유저 서비스

#54 [MAFOO-37] feat: 사진 앨범 도메인(photo-service) 슬랙 알림, 오류 메시지 보내기
  photo-service/build.gradle.kts
  photo-service/src/main/java/kr/mafoo/photo/config/SlackApiConfig.java
  photo-service/src/main/java/kr/mafoo/photo/handler/GlobalExceptionHandler.java
  photo-service/src/main/java/kr/mafoo/photo/service/SlackService.java
  photo-service/src/main/resources/application.yaml
Labels: For: API, Tag: 포토앨범 서비스, Type: Feature

#55 [MAFOO-69] feat: 유저 도메인(user-service) 슬랙 알림, 오류 메시지 보내기
  user-service/src/main/java/kr/mafoo/user/handler/GlobalExceptionHandler.java
  user-service/src/main/java/kr/mafoo/user/service/SlackService.java
  user-service/src/main/resources/application.yaml
Labels: For: API, Type: Feature, Tag: 유저 서비스

#60 [MAFOO-102] feat: 사진 n건 앨범 변경 API 구현
  photo-service/src/main/java/kr/mafoo/photo/api/PhotoApi.java
  photo-service/src/main/java/kr/mafoo/photo/controller/PhotoController.java
  photo-service/src/main/java/kr/mafoo/photo/controller/dto/request/PhotoBulkUpdateAlbumIdRequest.java
  photo-service/src/main/java/kr/mafoo/photo/service/PhotoService.java
Labels: For: API, Tag: 포토앨범 서비스, Type: Feature

#59 [MAFOO-93] feat: 앨범 순서 관련 API 및 기능 추가
  photo-service/src/main/java/kr/mafoo/photo/api/AlbumApi.java
  photo-service/src/main/java/kr/mafoo/photo/controller/AlbumController.java
  photo-service/src/main/java/kr/mafoo/photo/controller/dto/request/AlbumUpdateDisplayIndexRequest.java
  photo-service/src/main/java/kr/mafoo/photo/domain/AlbumEntity.java
  photo-service/src/main/java/kr/mafoo/photo/exception/AlbumIndexIsSameException.java
  photo-service/src/main/java/kr/mafoo/photo/exception/ErrorCode.java
  photo-service/src/main/java/kr/mafoo/photo/repository/AlbumRepository.java
  photo-service/src/main/java/kr/mafoo/photo/service/AlbumService.java
  photo-service/src/main/resources/db/migration/V6__addDisplayIndexColumnInAlbumTable.sql
Labels: For: API, Tag: 포토앨범 서비스, Type: Feature

#63 [MAFOO-115] feat: 파일 업로드 기능을 만들었어요
  photo-service/src/main/java/kr/mafoo/photo/api/PhotoApi.java
  photo-service/src/main/java/kr/mafoo/photo/controller/PhotoController.java
  photo-service/src/main/java/kr/mafoo/photo/domain/BrandType.java
  photo-service/src/main/java/kr/mafoo/photo/service/PhotoService.java
  photo-service/src/main/java/kr/mafoo/photo/service/QrService.java
Labels: For: API, Tag: 포토앨범 서비스, Type: Feature
